
/*___________________ 画像 _____________________*/
.gazo0{
	margin: 0px auto 0px;
	display: block;
}
.gazo10{
	margin: 0px auto 10px;
	display: block;
}
.gazo20{
	margin: 0px auto 20px;
	display: block;
}
.gazo30{
	margin: 0px auto 30px;
	display: block;
}
.gazo40{
	margin: 0px auto 40px;
	display: block;
}
.gazo50{
	margin: 0px auto 50px;
	display: block;
}
.gazo60{
	margin: 0px auto 60px;
	display: block;
}
.gazo80{
	margin: 0px auto 80px;
	display: block;
}
.mb30{
	margin-bottom: 30px;
	display: block;
}
.migi{
	float: right;
	margin-left: 23px;
	margin-bottom: 10px;
	display: block;
}

/*___________________ コンテンツ _____________________*/


/*.box0{
	width: 660px;
	margin: 0px auto 0px;
	overflow: hidden;
	display: block;
}*/
.box{
	width: 780px;
	margin: 0px auto 20px;
	overflow: hidden;
	display: block;
}
.box p{
	width: 780px;
	margin: 0px auto 40px;
	overflow: hidden;
	display: block;
}
.box p a{
	color: #127DE6;
}
.box2{
	width: 780px;
	margin: 0px auto 40px;
	overflow: hidden;
	display: block;
}
.box3{
	width: 780px;
    text-shadow: 0 0 5px #FFF, 0 0 5px #FFF, 0 0 5px #FFF, 0 0 10px #FFF, 0 0 10px #FFF;
	margin: 0px auto 30px;
	overflow: hidden;
	display: block;
}
#chi_bg{
  background-image: url("../images/chi_bg.png");
    background-repeat: repeat-y;
	background-position: center 0px;
    background-size: 900px;
    width: 900px;
    padding: 30px 0px 10px;
	margin: 0px auto 40px;
	overflow: hidden;
	display: block;
}
#toki_bg{
  background-image: url("../images/toki_bg.png");
    background-repeat: repeat-y;
	background-position: center 0px;
    background-size: 900px;
    width: 900px;
    padding: 30px 0px 10px;
	margin: 0px auto 40px;
	overflow: hidden;
	display: block;
}
#inochi_bg{
  background-image: url("../images/inochi_bg.png");
    background-repeat: repeat-y;
	background-position: center 0px;
    background-size: 900px;
    width: 900px;
    padding: 30px 0px 10px;
	margin: 0px auto 60px;
	overflow: hidden;
	display: block;
}
.shiro{
    background-color: #FFF;
	width: 840px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    padding-top: 30px;
	margin: 0px auto 30px;
	overflow: hidden;
	display: block;
}
.shiro p{
	width: 740px;
	margin: 0px auto 40px;
	overflow: hidden;
	display: block;
}
.shiro2{
    background-color: #FFF;
	width: 840px;
    box-shadow: 0px 0px 10px #DCC19D;
-webkit-box-shadow: 0px 0px 10px #DCC19D;
    padding-top: 20px;
	margin: 0px auto 30px;
	overflow: hidden;
	display: block;
}
.shiro2 p{
	width: 740px;
	margin: 0px auto 40px;
	overflow: hidden;
	display: block;
}
#check_bg{
  background-image: url("../images/check_bg.png");
    background-repeat: repeat-y;
	background-position: center 0px;
    background-size: 840px;
    width: 840px;
    padding: 35px 0px 10px;
	margin: 0px auto 10px;
	overflow: hidden;
	display: block;
}

.toku_wrap{
    position: relative;
    width: 860px;
    padding-top: 50px;
	margin: 0px auto 0px;
	overflow: hidden;
	display: block;
}
.num{
    position: absolute;
    top: 0px;
    left: 310px;
}
.toku{
    background-color: #FFF;
	width: 840px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
	margin: 0px auto 25px;
	overflow: hidden;
	display: block;
}
.toku p{
	width: 740px;
	margin: 0px auto 40px;
	overflow: hidden;
	display: block;
}



/*ボタンアニメーション*/
.my-blink-01{animation:my-blink 1.2s ease 1s infinite;}
.blink>img{box-shadow:0 0 30px #111;border-radius:15px;}
@keyframes my-blink{0%,to{transform:scale(1);}50%{transform:scale(0.95);}}

.animate72{animation-name:animate72;animation-duration:1s!important;animation-timing-function:ease-in;animation-iteration-count:infinite;}
@keyframes animate72{0%,40%,90%,100%{transform:rotate(0deg);}50%{transform:rotate(2deg);}60%{transform:rotate(-1deg);}70%{transform:rotate(3deg);}80%{transform:rotate(-2deg);}}
a.a-btn{position:relative;display:inline-block;box-sizing:border-box;}
a.a-btn img,img.a-main{display:block;box-sizing:border-box;}
img.a-main{width:100%;position:relative;z-index:54;}
a.shover:hover *{animation-name:none!important;}