body{
    background-color: #fcf8ef;
    background-image: url("../images/bg0.jpg");
    background-repeat: no-repeat;
	background-position: center 0px;
    background-attachment: fixed;
    background-size: 1600px;/**/
	width: 100%;
	font-family: notosans,"メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "A-OTF 新ゴ Pro",A-OTF Shin Go Pro,Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size:20px; 
line-height:35px;
	color: #111;
}

a:hover{
opacity:0.9;
filter:alpha(opacity=70);
-ms-filter: "alpha( opacity=70 )";
}
a:hover img{
opacity:0.9;
filter:alpha(opacity=70);
-ms-filter: "alpha( opacity=70 )";
}
input[name="image"]:hover { opacity:0.9; filter:alpha(opacity=70); }


/*___________________ 文字 _____________________*/
.aka{
	font-weight: bold;
    color: #B20000;
}
.kiiro{
    background: linear-gradient(transparent 60%, #faf78e 60%);
	font-weight: bold;
}

.naka{
    text-align: center;
   display: block; 
}
.naka_pc{
    text-align: center;
   display: block; 
}
.pc{
	display: none;
}
/*___________________ コンテンツ _____________________*/
#wrap{
    background-image: url("../images/bg01.png");
    background-repeat: repeat-y;
	background-position: center 0px;
    background-size: 996px;
	width: 100%;
	margin: 0px auto 0px;
	overflow: hidden;
	display: block;
}

#top{
	background-image: url("../images/top.jpg");
    background-repeat: no-repeat;
	background-position: center 0px;
    background-size: 900px;
	width: 100%;
    height: 1316px;
	margin: 0px auto 60px;
	display: block;
}

.ul1{
	width: 755px;
	padding-left: 25px;
	margin: 0px auto 40px;
	display: block;
}
.ul1 li{
	list-style-type: disc;
	list-style-position : outside;
	margin: 0px auto 10px;
}
.check0{
	background-color: #FFF;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","A-OTF 新ゴ Pro",A-OTF Shin Go Pro,"メイリオ", Meiryo,  Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	width: 780px;
    font-size: 22px;
	line-height: 37px;
    list-style-type: none;
	margin: 0px auto 20px;
	overflow: hidden;
	display: block;
}
.check0 li{
	background-image: url(../images/check.png);
	background-repeat: no-repeat;
	background-position: 0 3px;
    background-size: 35px;
	width: 730px;
	padding: 0px 0 13px 50px;
	margin: 0px auto 10px;
	display: block;
}
.check01{
	background-color: #FFF;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","A-OTF 新ゴ Pro",A-OTF Shin Go Pro,"メイリオ", Meiryo,  Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	width: 740px;
    font-size: 22px;
	line-height: 37px;
    list-style-type: none;
	margin: 0px auto 20px;
	overflow: hidden;
	display: block;
}
.check01 li{
	background-image: url(../images/check.png);
	background-repeat: no-repeat;
	background-position: 0 3px;
    background-size: 35px;
	width: 690px;
	padding: 0px 0 13px 50px;
	margin: 0px auto 10px;
	display: block;
}


.check{
	background-color: #FFF;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","A-OTF 新ゴ Pro",A-OTF Shin Go Pro,"メイリオ", Meiryo,  Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	width: 780px;
    font-size: 22px;
    /*font-weight: bold;*/
	line-height: 37px;
    list-style-type: none;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
	padding: 30px 0 15px;
	margin: 0px auto 30px;
	overflow: hidden;
	display: block;
}
.check li{
	background-image: url(../images/check.png);
	background-repeat: no-repeat;
	background-position: 0 3px;
    background-size: 35px;
	width: 650px;
	border-bottom: solid 2px #d2d2d2;
	padding: 0px 0 13px 50px;
	margin: 0px auto 20px;
	display: block;
}
.check li:last-child{
    border-bottom:none;
}
#toku_bg{
    background-color: #690f07;
  background-image: url("../images/toku_bg.jpg");
    background-repeat: no-repeat;
	background-position: center 0px;
    background-size: 900px;
    background-attachment: fixed;
    width: 900px;
    padding: 10px 0px 10px;
	margin: 0px auto 40px;
	overflow: hidden;
	display: block;
}



/*___________________ フォーム _____________________*/
/*.kome{
    background-color: #F0F0E1;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","A-OTF 新ゴ Pro",A-OTF Shin Go Pro,"メイリオ", Meiryo,  Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	width: 680px;
	height: 45px;
	font-size: 14px;
	line-height:  20px;
	color: #333;
	padding: 15px 30px;
	margin: 0 auto 30px;
	overflow-y: scroll;
-webkit-overflow-scrolling: touch;
transform: translateZ(0);
	display: block;
}*/
/*--------- フッター -----------*/

#foot{
	width: 750px;
	font-size: 17px;
	line-height: 27px;
	color: #1F1F1F;
	text-align: center;
	padding-top: 12px;
	margin: 0px auto 30px;
	overflow: hidden;
	display: block;
}
#foot ul{
	text-align: center;
	list-style-type: none;
	margin: 0 auto 0px;
	display: block;
}
#foot ul li{
	display: inline;
}
#foot ul li a{
	color: #1F1F1F;
	text-decoration: none;
}
#foot small{
	font-size: 16px;
}
/*___________________ トップ _____________________*/

#page-top {
	background-color: #333333;
	width: 80px;
	position: fixed;
	bottom: 10px;
	right: 10px;
	opacity:0.8;
	color: #fff;
	padding: 3px 3px;
	border-radius: 5px;
}
#page-top a {
	text-decoration: none;
	color: #fff;
	width: 84px;
	text-align: center;
	display: block;
	border-radius: 10px;
	opacity:0.8;
	font-size:12px;
}
#page-top a:hover {
	text-decoration: none;
	opacity:0.5;
}


.btn_end {
	position: fixed;
    bottom: 10px;
	right: 10px;
    width: 400px;
	
	}/**/

/*.btn_end {
	position: fixed;
    bottom: 10px;
	right: 10px;
	width: 145px;
	}*/

.shousai{
    background-color: #FFF;
	border-collapse: collapse;
	width: 820px;
	border: solid 1px #fff;
	margin: 0px auto 20px;
}
.shousai caption{
    text-align: center;
    padding: 0px 0px 10px;
}
.shousai th{
    background-color: #222;
	color: #fff;
    text-align: center;
    vertical-align: middle;
	border: solid 1px #CCC;
	padding: 15px 10px;
}
.shousai td{
    text-align: center;
    vertical-align: middle;
	border: solid 1px #CCC;
	padding: 15px 10px;
}